.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  outline: none;
  line-height: 24px;
  font-weight: 400;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.Button.Disabled {
  cursor: default;
}
.Button:focus {
  outline: 1px solid white;
}

.Button.Style-Raised {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  padding: 6px 12px;
  min-height: 36px;
  min-width: 88px;
}
.Button.Style-Raised:active {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.Button.Style-Action {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),
    0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
}
.Button.Style-Action:active {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}
.Button.Style-Action:focus {
  outline: none;
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),
    0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12),
    inset 1px 1px 0px 2px white;
}
.Button.Style-Action:active:focus {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12),
    inset 1px 1px 0px 2px white;
}

.Button.Default {
  color: hsla(0, 0%, 0%, 0.8);
  background-color: var(--default-color);
}
.Button.Default:hover {
  background-color: var(--default-color);
}
.Button.Default.Disabled {
  color: hsla(0, 0%, 0%, 0.5);
  background-color: var(--default-color-alpha07);
}

.Button.Primary {
  color: white;
  background-color: var(--primary-color);
}
.Button.Primary:hover {
  background-color: var(--primary-color);
}
.Button.Primary.Disabled {
  color: rgba(0, 0, 0, 0.5);
  background-color: var(--primary-color-alpha07);
}

.Button.Secondary {
  color: white;
  background-color: var(--secondary-color);
}
.Button.Secondary:hover {
  background-color: var(--secondary-color);
}
.Button.Secondary.Disabled {
  color: rgba(0, 0, 0, 0.5);
  background-color: var(--secondary-color-alpha07);
}

.Button.Disabled {
  box-shadow: none;
}
